.theme-toggle {
  background: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0 1em;
  color: inherit;
}

.theme-toggle:hover {
  opacity: 0.5;
}
